#config_version=6

sounds:
  ###########
  ## Music ##
  ###########
  attract_bgm:
    # TODO: either add a delay or silence to end of file
    priority: 100
    file: attract_bgm.ogg
    track: music
    volume: 0.6
    loops: 0 # ideally this would play, then wait 3-5 minutes and play again
  base_bgm:
    priority: 100
    file: base_bgm.ogg
    track: music
    volume: 0.7
    loops: -1 # repeat until shut off
    mode_end_action: stop
  multiball_bgm:
    # TODO: add a partial loop to play after sound
    # gets near the end...
    priority: 200
    file: multiball_bgm.ogg
    track: music
    volume: 0.9
    loops: -1
    mode_end_action: stop
  high_score_bgm:
    priority: 200
    file: high_score_bgm.ogg
    track: music
    volume: 0.6
    loops: 1

  ###########
  ##  SFX  ##
  ###########
  explosion_1_sfx:
    max_queue_time: 0.5s
    priority: 100
    file: explosion_1.ogg
    track: sfx
    volume: 0.8
  explosion_2_sfx:
    max_queue_time: 0.5s
    priority: 100
    file: explosion_2.ogg
    track: sfx
    volume: 0.8
  multiball_sfx:
    priority: 150
    file: multiball.ogg
    track: sfx
    volume: 0.4
  gun_shot_1_sfx:
    max_queue_time: 0.5s
    priority: 100
    file: gun_shot_1.ogg
    track: sfx
  gun_shot_near_sfx:
    max_queue_time: 0.5s
    priority: 100
    file: gun_shot_near.ogg
    track: sfx
    volume: 0.6
  gun_shot_distant_sfx:
    max_queue_time: 0.5s
    priority: 100
    file: gun_shot_distant.ogg
    track: sfx
    volume: 0.9
  machine_gun_near_sfx:
    max_queue_time: 0.5s
    priority: 100
    file: machine_gun_near.ogg
    track: sfx
    volume: 0.4
  machine_gun_distant_sfx:
    max_queue_time: 0.5s
    priority: 100
    file: machine_gun_distant.ogg
    track: sfx
    volume: 0.9
  laser_bombs_sfx:
    priority: 150
    file: laser_bombs.ogg
    track: sfx
    volume: 1.0
  gun_explosion_sfx:
    priority: 150
    file: gun_explosion.ogg
    track: sfx
    volume: 0.4
  missile_collect_sfx:
    priority: 150
    file: missile_collect.ogg
    track: sfx
    volume: 1.0
  missile_advance_1_sfx:
    max_queue_time: 1s
    priority: 125
    file: missile_advance_1.ogg
    track: sfx
  missile_advance_2_sfx:
    max_queue_time: 1s
    priority: 125
    file: missile_advance_2.ogg
    track: sfx
  missile_advance_3_sfx:
    max_queue_time: 1s
    priority: 125
    file: missile_advance_3.ogg
    track: sfx
  bullet_ping_1_sfx:
    max_queue_time: 1s
    priority: 125
    file: bullet_ping_1.ogg
    track: sfx
    volume: 0.8
  bullet_ping_2_sfx:
    max_queue_time: 1s
    priority: 125
    file: bullet_ping_2.ogg
    track: sfx
    volume: 0.8
  bullet_ping_3_sfx:
    max_queue_time: 1s
    priority: 125
    file: bullet_ping_3.ogg
    track: sfx
    volume: 0.8

  ############
  ## Voices ##
  ############
  flash_score:
    file: flash-score-steve-it.ogg
    track: voice
    ducking:
      target: music
      attack: 0
      attenuation: -5db
      release_point: 1s
      release: 6s
  multiball_ready:
    file: multiball-ready-steve-it.ogg
    track: voice
  multiball_begins:
    file: multiball-begins-jasmine-it.ogg
    track: voice
  ball_ending_1:
    file: ball-ending-1-jeremyr-it.ogg
    track: voice
  ball_ending_2:
    file: ball-ending-2-jeremyf-it.ogg
    track: voice
  game_ending_1:
    file: game-ending-1-jeremyf-it.ogg
    track: voice
  game_ending_2:
    file: game-ending-2-christian-it.ogg
    track: voice
  ball_saved:
    file: ball-saved-mari-it.ogg
    track: voice
    ducking:
      target: music
      attack: 0
      attenuation: -5db
      release_point: 1s
      release: 6s
  playfield_active_ball_1:
    file: playfield-active-ball-1-mike-it.ogg
    track: voice
    ducking:
      target: music
      attack: 0
      attenuation: -5db
      release_point: 1s
      release: 6s
  bonus-full:
    file: bombs-full-jeremyr-it.ogg
    track: voice
  special_bombs:
    file: special-bombs-spencer-it.ogg
    track: voice
    ducking:
      target: music
      attack: 0
      attenuation: -5db
      release_point: 1s
      release: 6s
  bonus-max:
    file: bonus-max-mike-it.ogg
    track: voice
  hole_score_redeem:
    file: hole-score-redeem-mari-it.ogg
    track: voice
  hole_score_full:
    file: hole-score-full-spencer-it.ogg
    track: voice
  hole_score_redeem_max:
    file: hole-score-redeem-max-jasmine-it.ogg
    track: voice
  extra_ball:
    file: extra-ball-christian-it.ogg
    track: voice
